$border-style: 2px solid #ccc;

.column:not(:last-of-type) {
  border-right: $border-style;
}

.cell, .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  border-bottom: $border-style;

  &:nth-of-type(2n + 1) {
    background: #efefef;
  }
}

.scheduler-sidebar {
  flex-grow: 1;
  border-left: $border-style;
}

.alert-title {
  text-transform: capitalize;
}